<div class="col">
  <div class="card h-100">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
   <img class="card-img" src={{image}}/>
      <h5 class="card-title">{{name}}</h5>
      <img class="card-flag" src={{flag}} width="20px" height="20px"></img>
      <p class="card-text">From {{nationality}}</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <small class="text-body-secondary"><a href="/riders/{{id}}" class="link-opacity-50-hover">See Details</a></small>
    </div>
  </div>
</div>